# Django Configuration
SECRET_KEY=coloca_aqui_tu_clave_secreta_super_segura_2026
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,.onrender.com

# Database Configuration (Optional for PostgreSQL)
# DATABASE_URL=postgres://user:password@localhost:5432/talentpulse_db

# Frontend API URL Configuration
VITE_API_URL=http://127.0.0.1:8000/api
